*.bbl
*.pdf
*.tex

auto/
try_references.csv
/*shiklomanovSA*.log
/.drake

# Latex outputs
*.aux
*.log
*.out
*.bcf
*.blg
*.fdb_latexmk
*.run.xml
*.fls
*.xdv

# Do include these tex files
!shiklomanov_formatted.tex
!authors.tex
!AppendixS1.tex

submission.zip
